<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
<!-- when dealing w/ pre-existing record, knows to utilize PUT over POST -->
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>
  
  <%= f.submit %>
<% end %>