<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
<h1>Post Title:</h1>
<%= f.text_field :title %><br>

<label>Post description</label><br>
<p><%= f.text_area :description %></p><br>
<%= f.submit %>
<% end %>
