<%= form_tag fishes_path do %>
  <label>Fish Name:</label><br>
  <%= text_field_tag :name %><br>

  <label>Fish Color</label><br>
  <%= text_field_tag :color %><br>

  <%= submit_tag "Submit Post" %>
<% end %>
